body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.buttons > button {
  font-size: 60px;
  background: black;
  color: white;
  border: none;
  padding: 20px 40px 20px 40px;
  margin: 60px 20px 0px 20px;
}

.animate {
  animation-name: glow;
  animation-duration: 1s;
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 0px 0px #0ff;
  }
  25% {
    box-shadow: 0px 0px 20px 10px #0ff;
  }
  50% {
    box-shadow: 0px 0px 40px 20px #0ff;
  }
  75% {
    box-shadow: 0px 0px 20px 10px #0ff;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #0ff;
  }
}
